/*
Custom Properties for the theme. These are used to define colors, fonts, and other design elements that can be easily reused throughout the CSS. By using custom properties, we can maintain a consistent design and make it easier to update the theme in the future.
*/

:root {
  /* Colors */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --primary: #00568f;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --white: #ffffff;
  --focus-color: #e74c3c;
  --neutral-90: #e0e0e0;

  /* Fonts */
  --font-primary: "Montserrat", sans-serif;
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* Font Weights */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extraLight: 200;
  --weight-thin: 100;

  /* Typography */
  --font-primary: "Montserrat", sans-serif;

  /* line-height */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* Spacing */
  --traking-n-025: -0.25px;
  --traking-p-05: 0.5px;

  /* Font Weights */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* Border Radius */
  --radius-very-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* gaps */
  --gap-very-small: 4px;
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 24px;
  --gap-extra-large: 32px;
  --gap-double: 64px;

  /* Box Shadow */
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000d;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001a;

  /* Transitions */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

/* Header container */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Logo */
.logo {
  font-family: var(--font-primary);
  font-size: var(--fs-headline-large);
  font-weight: var(--weight-bold);
  color: var(--white);
  letter-spacing: var(--traking-p-05);
}

#icon-header {
  align-self: center;
  margin-bottom: var(--gap-medium);
  margin-right: var(--gap-medium);
}

/* Desktop nav */
.nav {
  height: 80px; /* or whatever fits your design */
  display: flex;
  align-items: center;
  gap: var(--gap-extra-large);
}

.nav a {
  position: relative;
  color: var(--white);
  text-decoration: none;
  font-size: var(--fs-label-large);
  font-weight: bold;
  padding-bottom: 4px;
  transition: transform 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--white);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Login button */
.login-btn {
  padding: 10px 30px;
  font-style: italic;
  color: var(--white);
  font-size: var(--fs-body-medium);
  font-weight: var(--weight-semiBold);
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
  background: gray;
}

.login-btn:hover {
  opacity: 1;
  background: var(--primary-color);
}

/* Burger (mobile only) */
.burger {
  display: none;
  color: var(--white);
  cursor: pointer;
}

/* Mobile nav */
.mobile-nav {
  display: none;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.close {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  #nav,
  .login-btn {
    display: none;
  }

  .burger {
    display: block;
  }

  .mobile-nav {
    display: block;
  }

  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%; /* hidden */
    width: 250px;
    min-height: 100vh;
    height: auto;
    background: gray;
    transition: right 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-very-small);
  }

  .mobile-nav a:hover {
    width: 100%;
    text-align: center;
    background: var(--secondary-color);
    transition: 0.3s;
  }

  .mobile-nav.active {
    right: 0; /* visible */
  }

  .close {
    align-self: flex-end;
  }
}

/* Hero Section */

.hero-image {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: url("./files/assets/images/property.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1.2s ease-out forwards;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* Hero Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1,
.hero-content p,
.hero-btn {
  animation: fadeIn 1.2s ease-out forwards;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: url("./files/assets/images/hero2.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); /* darker overlay */
  z-index: 0;
}

.hero-content {
  max-width: 700px;
  color: var(--white);
}

.hero-content h1 {
  font-size: 400% !important;
  font-family: fantasy;
  letter-spacing: 1px;
}

.hero-content p {
  font-size: large;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 1rem;
  font-size: var(--fs-title-small);
  background: var(--primary-color);
  color: var(--white);
  border-radius: 12px;
  font-weight: var(--weight-bold);
  text-decoration: none;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
